body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 15px;
}

.admin-container {
    width: 100%;
    min-height: 100vh;
    padding: 0px;
    background: #f4f6f9;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin: 30px auto;
    
}

.admin-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #2c3e50;
    padding-top: 0;
}

.section {
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 8px;
    background: #f9fafb;
    border-left: 5px solid #4CAF50;
}

.section h3 {
    margin-bottom: 15px;
    color: #333;
}

button {
    padding: 10px 18px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background: #43a047;
}

.status {
    margin-top: 20px;
    font-weight: bold;
    color: #2c3e50;
}

.log-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f9fa;
  padding: 10px 14px;
  margin-bottom: 8px;
  border-left: 4px solid #28a745;
  border-radius: 6px;
  font-size: 14px;
}


.admin-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f2937;
  padding: 14px 30px;
  color: white;
}

.admin-navbar .logo {
  font-size: 18px;
  font-weight: bold;
}

.admin-navbar .nav-links {
  display: flex;
  gap: 15px;
  align-items: center;
}

.admin-navbar a {
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
}

.admin-navbar a:hover {
  color: #60a5fa;
}

.admin-navbar button {
  background: #ef4444;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}
