# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Jupyter / Colab
.ipynb_checkpoints/
*.csv
*.xlsx

# System / Editor files
.DS_Store
.vscode/
.idea/

# Node / React
node_modules/
package-lock.json

# Environment files
.env
